:host {
  display: block;
  max-width: 400px;
  padding: 10px;
  background-color: var(--col-primary);
}

:host(._modified) {
  background-color: var(--col-gray);
  color: white;
}

:host(._large) {
  font-size: var(--font-size-regular);
}

