Combobox 32px
<lu-combobox [class]="comboboxInputClass">
  <lu-option value="1" [class]="comboboxOptionClass">Значение 1</lu-option>
  <lu-option value="2" [class]="comboboxOptionClass">Значение 2</lu-option>
  <lu-option value="3" [class]="comboboxOptionClass">Значение 3</lu-option>
  <lu-option value="4" [class]="comboboxOptionClass">Значение 4</lu-option>
  <lu-option value="5" [class]="comboboxOptionClass">Значение 5</lu-option>
  <lu-option value="6" [class]="comboboxOptionClass">Значение 6</lu-option>
  <lu-option value="7" [class]="comboboxOptionClass">Значение 7</lu-option>
  <lu-option value="8" [class]="comboboxOptionClass">Значение 8</lu-option>
  <lu-option value="9" [class]="comboboxOptionClass">Значение 9</lu-option>
  <lu-option value="10" [class]="comboboxOptionClass">Значение 10</lu-option>
  <lu-option value="11" [class]="comboboxOptionClass">Значение 11</lu-option>
  <lu-option value="12" [class]="comboboxOptionClass">Значение 12</lu-option>
</lu-combobox>
