/*
1. Структура объявления
Перед открывающейся фигурной скобкой стоит пробел. После скобки запись идёт с новой строки.
Свойства стоят на отдельных строках.
Свойства внутри блока имеют один внутренний отступ.
После двоеточия стоит пробел. Перед двоеточием пробел не нужен.
В конце объявления стоит точка с запятой.
Закрывающая скобка стоит на новой строке и без отступа.
Между блоками правил есть одна пустая строка.
*/

/* Хорошо */
.block {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
  line-height: 20;
  color: #ff0000;
}

.element {
  background-color: #000000;
}

/* Плохо */
.block{margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;line-height: 20;
  color :red}
.element {
  background-color: #000000;
}

/*
2. Перенос селекторов
Селекторы, разделённые запятой, записаны на новых строках.
*/

/* Хорошо */
h1,
h2,
h3 {
  margin-top: 0;
}

/* Плохо */
h1, h2, h3 {
  margin-top: 0;
}

/*
3. Пробелы между комбинаторами
До и после комбинатора между селекторами стоит один пробел.
*/

/* Хорошо */
h2 + h3 {}
ul > li {}

/* Плохо */
h2+h2 p{}
ul >li {}

/*
4. Формат цветов
Цвета записаны строчными в 6-значном формате HEX.
Шестнадцатеричное значение цвета не сокращено, а записано полностью из всех шести символов.
Для записи использованы строчные буквы. Цвета могут быть записаны функциями rgba или hsla, если нужна прозрачность.
 */

/* Хорошо */
.block {
  background-color: #ff0000;
  border-left-color: #00ff00;
  color: rgba(0, 0, 0, 0.5);
}

/* Плохо */
.block {
  background-color: #F00;
  border-left-color: rgb(0, 255, 0);
  color: black;
}

/*
5. Кавычки
Во всех случаях в стилях использованы двойные кавычки.
В необязательных случаях кавычки не опущены.
*/

/* Хорошо */
.field[type="text"] {
  background-image: url("images/cat.jpg");
}

/* Плохо */
.field[type=text] {
  background-image: url(images/cat.jpg);
}

/*
6. Ведущий ноль и пробелы после запятых
Начальный ноль для значений не сокращён.
После запятых в перечислениях стоит пробел.
*/

/* Хорошо */
.block {
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.5);
}

.element {
  background-color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.5);
}

/* Плохо */
.block {
  opacity: .5;
  background-color: rgba(0, 0, 0, .5);
}

.element {
  background-color: rgb(0,0,0);
  color: rgba(0 ,0 ,0 ,0.5);
}

/*
7. Повторяющиеся свойства
Свойства не повторяются в рамках одной декларации.
Свойство может повторяться, если раньше описан сброс или общий случай.
*/

/* Хорошо */
.block {
  margin: 0;
  margin-left: 20px;
  border: 10px solid #000000;
  border-bottom-color: #ff0000;
}

/* Плохо */
.block {
  margin-left: 10px;
  border-left: 10px solid #000000;
  margin-left: 20px;
  border-left: 10px solid #ff0000;
}

/*
8. Единицы измерения
Единицы измерения не указаны там, где в них нет необходимости.
В переменных нужно указывать единицу измерения.
*/

/* Хорошо */
:root {
  --size: 0px;
}

.element {
  border: 0;
  box-shadow: 0 1px 2px #cccccc, inset 0 1px 0 #ffffff;
  margin-top: 0;
  width: calc(100% - var(--size));
}

/* Плохо */
:root {
  --size: 0;
}

.element {
  border: 0px;
  box-shadow: 0px 1px 2px #cccccc, inset 0px 1px 0 #ffffff;
  margin-top: 0px;
  width: calc(100% - var(--size));
}

/*
9. Дробные значения
В дробных значениях нет больше двух знаков после точки.
*/

/* Хорошо */
.block {
  width: 2.33%;
}

/* Плохо */
.block {
  width: 2.33333%;
}

/*
10. Порядок свойств

Объявления логически связанных свойств сгруппированы в следующем порядке:

Позиционирование
Блочная модель
Типографика
Оформление
Анимация
Разное

В случае большого количества правил, сгруппированные объявления в правилах отделяются друг от друга пустой строкой.

Порядок объявления подробных правил, таких как font-size, font-family, line-height, соответствует порядку в сокращённой
версии правила. В случае совместного использования подробных и сокращённых правил, первой идёт сокращённая версия.
*/

.declaration-order {
  /* Позиционирование */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  /* Блочная модель */
  display: block;
  float: right;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;

  /* Типографика */
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #333333;

  /* Оформление */
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  opacity: 1;

  /* Анимация */
  transition: color 1s;

  /* Разное */
  will-change: auto;
}

/*
11. Порядок селекторов

Селекторы должны идти в том же порядке, что и теги в разметке.
Селекторы компонента идут в начале.
*/

/* Селекторы компонента */
:host { }
:host(._modified) { }
:host(._special) { }
:host-context(._dark-theme) { }
:host-context(._special-theme) { }

/* Селекторы элементов компонента */
.component__header { }
.component__title { }
.component__list { }
.component__item { }
.component__image { }
.component__description { }
.component__footer { }
