<!--
  1. Форматирование тегов
  Вложенность тегов обозначается переносами и отступами.
  Каждый новый вложенный тег переносится на отдельную строку с отступом, кроме текстовых элементов.
  Текст внутри inline тегов остаётся на одной строке с тегами.
-->

<!-- Хорошо -->
<div class="menu">
  <ul>
    <li>
      <a href="#">Первый</a>
    </li>
    <li>
      <a href="#">Второй</a>
    </li>
    <li>
      <a href="#">Третий</a>
    </li>
  </ul>
</div>

<p>
  <a href="#">В этом репозитории</a> вы увидите замечательную возможность оптимизацией графикой, а в <a href="#">этом</a> оптимизацию шрифтов.
</p>
<p>
  Также в <i>тексте</i> может быть <b>какое-то</b> выделение.
</p>

<!-- Плохо -->
<div class="menu">
  <ul>
    <li><a href="#">
      Первый
    </a></li>
    <li><a href="#">Второй
    </a></li>
  </ul>
</div>

<!--
  2. Порядок атрибутов
  Атрибут class идёт сразу после имени тега.
  Атрибуты идут в одном порядке, чтобы упростить их чтение.
  Атрибуты скрипта идут после всех.
-->

<!-- Хорошо -->
<label class="field-group-label" for="appointment-phone">
  <input class="field-group-input field" type="text" id="appointment-phone" placeholder="+7 000-00-00" (input)="fn()">
</label>

<label class="field-group-label" for="appointment-date">
  <input class="field-group-input field" type="text" id="appointment-date" placeholder="01.01.2020"
         (input)="fn()">
</label>

<!-- Плохо -->
<label for="appointment-date" class="field-group-label">
  <input id="appointment-date-bad" class="field-group-input field" type="text" placeholder="01.01.2020"
         (input)="fn()">
</label>

<label class="field-group-label" for="appointment-phone">
  <input (input)="fn()" class="field-group-input field" type="text" placeholder="+7 000-00-00"
         id="appointment-phone-bad">
</label>
