:host {
  display: block;
  padding: 30px;
}

.app {
  &__title {
    margin-bottom: 20px;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
  }

  &__example {
    margin-bottom: 20px;

    &_narrow {
      max-width: 400px;
    }
  }

  &__child {
    border: 2px solid var(--col-black);
  }
}

.info {
  width: 570px;
  padding: 10px 15px;
  color: var(--col-gray-3);
  border: 1px solid var(--col-gray-3);
  border-radius: 5px;

  /*
    Пример допустимой вложенности в scss:
    В модификаторе родительского тега переопределяются стили дочерних тегов.
  */
  &_special {
    border-width: 2px;

    .info {
      &__text {
        color: var(--col-error);

        &_small {
          color: var(--col-success);
        }
      }
    }
  }

  &__text {
    font-size: var(--font-size-medium);

    &:not(:last-child) {
      margin-right: 20px;
    }

    &_small {
      font-size: var(--font-size);
    }
  }
}
