<h1 class="app__title">ДЕМО</h1>

<div class="app__example">
  Стили сервисного блока:
  <!--
    Пример использования сервисного блока info
  -->
  <div class="info">
    <span class="info__text">Стили вложенного тега</span>
    <span class="info__text info__text_small">Стили вложенного тега с модификатором</span>
  </div>
</div>

<div class="app__example">
  Стили сервисного блока с модификатором:
  <!--
    Пример допустимой вложенности в scss:
    В модификаторе родительского тега переопределяются стили дочерних тегов.
  -->
  <div class="info info_special">
    <span class="info__text">Стили вложенного тега</span>
    <span class="info__text info__text_small">Стили вложенного тега с модификатором</span>
  </div>
</div>

<div class="app__example">
  Дочерний компонент:
  <app-example-child class="app__child"></app-example-child>
</div>

<div class="app__example">
  Дочерний компонент с модификатором:
  <!--
    Здесь используется микс (БЭМ)
    .app__child - элемент блока app, ._modified - модификатор блока, которым выступает компонент
  -->
  <app-example-child class="app__child _modified"></app-example-child>
</div>

<div class="app__example">
  Дочерний компонент с другим модификатором:
  <app-example-child class="app__child _large"></app-example-child>
</div>

<div class="app__example">
  Дочерний компонент с двумя модификаторами:
  <app-example-child class="app__child _modified _large"></app-example-child>
</div>

<div class="app__example app__example_narrow">
  Библиотечный компонент с перекрытыми стилями:
  <lu-combobox>
    <lu-option value="1">Значение 1</lu-option>
    <lu-option value="2">Значение 2</lu-option>
    <lu-option value="3">Значение 3</lu-option>
    <lu-option value="4">Значение 4</lu-option>
    <lu-option value="5">Значение 5</lu-option>
    <lu-option value="6">Значение 6</lu-option>
    <lu-option value="7">Значение 7</lu-option>
    <lu-option value="8">Значение 8</lu-option>
    <lu-option value="9">Значение 9</lu-option>
    <lu-option value="10">Значение 10</lu-option>
    <lu-option value="11">Значение 11</lu-option>
    <lu-option value="12">Значение 12</lu-option>
  </lu-combobox>
</div>

<div class="app__example app__example_narrow">
  Библиотечный компонент с перекрытыми стилями и модификатором:
  <!--
    Из-за того, что <lu-option> после обработки скриптом лежит в overlay,
    а не в <lu-combobox>, модификатор приходится определять и для самих опций
  -->
  <lu-combobox class="_modified">
    <lu-option class="_modified" value="1">Значение 1</lu-option>
    <lu-option class="_modified" value="2">Значение 2</lu-option>
    <lu-option class="_modified" value="3">Значение 3</lu-option>
    <lu-option class="_modified" value="4">Значение 4</lu-option>
    <lu-option class="_modified" value="5">Значение 5</lu-option>
    <lu-option class="_modified" value="6">Значение 6</lu-option>
    <lu-option class="_modified" value="7">Значение 7</lu-option>
    <lu-option class="_modified" value="8">Значение 8</lu-option>
    <lu-option class="_modified" value="9">Значение 9</lu-option>
    <lu-option class="_modified" value="10">Значение 10</lu-option>
    <lu-option class="_modified" value="11">Значение 11</lu-option>
    <lu-option class="_modified" value="12">Значение 12</lu-option>
  </lu-combobox>
</div>

<div class="app__example app__example_narrow">
  Передача дочернему компоненту модификатора для библиотечного компонента:
  <app-example-child class="app__child" comboboxInputClass="_modified" comboboxOptionClass="_modified"></app-example-child>
</div>

<div class="app__example">
  Кастомные svg в lucidus 9:<br>
  <lu-svg-icon icon="leaderboard" [size]="24"></lu-svg-icon>
  <lu-svg-icon icon="qr-code" [size]="16"></lu-svg-icon>
</div>
