@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/opensans-semibold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/opensans-mono.ttf') format('truetype');
}
