* {
  box-sizing: border-box;
  outline: none;
}

body {
  height: 100%;
  background-color: var(--col-white);
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

a {
  color: inherit;
  text-decoration: none;
}
