:root {

  /* Colors */

  --col-black: #252324;
  --col-white: #ffffff;

  --col-gray: #4a4a4a;
  --col-gray-2: #616161;
  --col-gray-3: #949494;
  --col-gray-4: #b3b3b3;
  --col-gray-5: #f5f4f2;

  --col-primary: #79b8c3;
  --col-primary-hover: #94cfcf;
  --col-light-primary: #dce7e9;
  --col-light-primary-hover: #d4e0e2;

  --col-secondary: #fff2b0;
  --col-secondary-hover: #fffbdb;

  --col-on: #4cd25a;
  --col-off: #d24c4c;

  --col-success: #37932d;
  --col-error: #932d2d;

  /* Font */

  --font: "Open Sans", sans-serif;
  --font-m: "Open Sans Mono", sans-serif;

  --font-size-small: 12px;
  --font-size: 14px;
  --font-size-regular: 16px;
  --font-size-medium: 20px;
  --font-size-large: 24px;

  --font-weight: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --line-height-small: 16px;
  --line-height: 24px;
  --line-height-large: 32px;

  --letter-spacing-small: 0.05em;
  --letter-spacing-regular: 0.1em;

  /* Transition */

  --transition: all 0.4s;
  --transition-fast: all 0.2s;

  /* Other */

  --max-row-width: 2000px;

}
