@mixin gradient-stroke {
  &:after {
    content: '';
    background: linear-gradient(to right, rgba(#fff, 0) 0%, rgba(#fff, 1) 100%);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: $base-gutter * 2;
  }
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin radius-circle {
  border-radius: 50%;
}

@mixin white-space-nowrap {
  white-space: nowrap;
}
